/* COMMON LAYOUT STYLES !! */

.center__div {
    margin: 0 auto;
}

.theme__size_container {
    width: 944px;
}

/* END COMMON LAYOUT STYLES !! */

/* HEADER LAYOUT STYLES */

.header__main {
    background-color: #2FC1DA;

    width: 100%;
    height: 85px;
}

/* END HEADER LAYOUT STYLES */
