/* COMMON LAYOUT STYLES !! */
.body {
    font-size: 10px;
}

.default_link {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    font-family: Muli, serif
}

.header__secondary__left_container a:hover, span a:hover, .header__secondary__widget a:hover {
    color: #167183;
}

.block__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-weight: bold;
}

.center__div {
    margin: 0 auto;
}

.theme__size_container {
    width: 944px;
}

h1 {
    font-size: 25px;
}

/* END COMMON LAYOUT STYLES !! */

/* HEADER LAYOUT STYLES */

.content_wrapper {
    min-width: 1002px;
}

.header__main {
    background-color: #7dd9e8;

    padding-bottom: 27px;
    padding-top: 18px;

    width: 100%;
    height: 40px;
}

.header__logo {
    /*background-color: black;*/

    float: left;
    margin-right: 12px;

    width: 224px;
    height: 38px;
}

.header__search_box {
    /*background-color: darkred;*/

    float: left;
    margin-top: 17px;
    margin-left: 12px;
    margin-right: 3px;

    width: 275px;
    height: 21px;
}


.search_box__left {
    /*background-color: black;*/
    background-image: url("../images/header/main/SearchBxLeftCircular.png");
    width: 7px;
    height: 20px;
    background-repeat: no-repeat;
    float: left;
}

.search_box__right_container {
    float: left;
    width: 268px;
}

.search_box {
    float: left;
    width: 231px;
}

.search_box__right {
    background-image: url("../images/header/main/SearchBoxRightCircular.png");
    width: 7px;
    height: 20px;
    float: left;
}

.search_box__input {
    background-color: #caeff7;

    outline: none;
    border: none;
    height: 20px;
    width: 231px;

    font-size: 11px;
}

.search_box__input:hover {
    background-color: #cdf2fa;
}

.search_box__btn_right__wrapper {
    float: left;
    width: 37px;
}

.search_box__btn_group {
    float: left;
    width: 30px;
}


.search_box__X_btn {
    background-image: url("../images/header/main/XIcon.png");
    float: left;
    width: 15px;
    height: 20px;
}

.search_box__Search_btn {
    background-image: url("../images/header/main/SearchIcon.png");
    margin-left: 1px;
    float: left;
    width: 14px;
    height: 20px;
}

.header__search_button {
    /*background-color: #274d56;*/

    float: left;
    margin-top: 18px;
    margin-left: 4px;

    width: 53px;
    height: 20px;
}

.search_button__left {
    background-image: url("../images/header/main/SearchBtnLeft.png");
    float: left;
    width: 8px;
    height: 20px;
}

.search_button__right_container {
    float: left;
    width: 45px;
}

.search_button__container {
    float: left;
    width: 38px;
    height: 20px;
}


.search_button {
    width: 38px;
    height: 20px;
    outline: none;
    border: none;
    background-color: #274d56;
    color: #c9d5d5;
    font-size: 9px;
    float: left;
}

.search_button:hover {
    color: #b6bebe;
}

.search_button__right {
    background-image: url("../images/header/main/SearchBtnRight.png");

    float: left;
    width: 7px;
    height: 20px;
}

.header__right_container {
    float: right;
}

.header__user_full_name {
    text-align: right;
    font-weight: bold;
}

.header__user_account_options {

}

.header__user_account_options a {
    color: black;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
}


.header__secondary {
    background-color: #F5F5F5;

    width: 100%;
    height: 11px;

    padding-bottom: 14px;
    padding-top: 14px;
}

.header__secondary a {
    color: black;
    text-decoration: none;

    padding-left: 8px;
    padding-right: 22px;

    font-size: 14px;
}

.header__secondary__left_container {
    float: left;
}


.header__secondary__left_container a {
    font-size: 12px;
    font-weight: bold;
}

.friend_requests_container {
    font-size: 12px;
}

.notification {
    font-size: 5px;
    font-weight: bold;
}

.header__secondary__widget {
    float: right;
    margin-left: 31px;
}

.friend_req_icon {
    background-image: url("../images/header/secondary/FriendReqIcon.png");
    background-repeat: no-repeat;
}

.friend_req_icon:hover {
    background-image: url("../images/header/secondary/FriendReqBtnActive.png");
}

.header__secondary__widget a {
    text-decoration: none;
    padding: 0;
}

.header__secondary__widget span {
    font-size: 14px;
}

.header__secondary_widget__icon {
    background-color: #000000;
}

.topic_boxes_invite_container {
    font-weight: bold;
}

.friend_requests_container {
    margin-left: 25px;
}


/* END HEADER LAYOUT STYLES */


/* START BODY LAYOUT STYLES */

.body {
    margin-top: 31px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
}


.body__left_container {
    background-color: #F5F5F5;

    margin-right: 26px;

    float: left;

    width: 196px;
    min-height: 607px;
}

.recent_search_icon__container {
    float: right;
    margin-left: 10px;
}

.body__column_title {
    background-color: #2FC1DA;
    color: white;

    font-size: 16px;
    font-weight: bold;

    height: 15px;

    padding-left: 12px;
    padding-bottom: 14px;
    padding-top: 15px;
    font-family: Muli, serif;
}

.search_results__container {
    margin-top: 4px;
    margin-bottom: 6px;
}

.search_results_second__container {
    margin-top: 1px;
    margin-bottom: 1px;
}

.body__column__recent_search_value_container {
    background-color: #F5F5F5;

    font-size: 12px;
    font-weight: bold;

    padding: 11px 12px;
}

.body__column__recent_search_value_container:hover {
    background-color: #ffffff;
}

.body__left_container a {
    text-decoration: none;
    color: #000000;
}

.search_results__container a {
    text-decoration: none;
    color: #000000;
}


.body__column__recent_search__active {
    background-color: #FFFFFF;
}

.body__middle_container {
    /*background-color: #fce7dc;*/
    float: left;

    width: 518px;
    min-height: 607px;
}

.body__middle_container__header_container__common {
    background-color: #F5F5F5;

    text-align: center;
    font-size: 14px;

    width: 258px;
    height: 53px;
    padding-top: 13px;

    border-radius: 9px 9px 0 0;
}

.body__middle_container__header_container__common span {
    font-size: 10px;
    font-weight: bold;
    font-family: Muli, serif;
}

.body__middle_container__header_container__left {
    float: left;
}

.body__middle_container__header_container__right {
    float: right;
}

.body__middle_column__header_container {
    height: 66px;
    border-bottom: 2px solid #2FC1DA;
}

.body__middle_container__header_container__button__common {
    /*background-color: #DDDDDD;*/
    height: 27px;
    width: 114px;

    font-size: 12px;

    margin-top: 10px;
    /*padding: 10px 20px;*/
    /*border-radius: 9px 9px 0 0;*/
}

.body__middle_container__header_container__button__common:hover .category {
    background-color: #2FC1DA;
}

.body__middle_container__header_container__button__common:hover .category_left {
    background-image: url("../images/btns/BtnActiveLeft.png");
}

.body__middle_container__header_container__button__common:hover a {
    color: white;
}

.body__middle_container__header_container__button__common:hover .category_right {
    background-image: url("../images/btns/BtnActiveRight.png");
}

.category {
    background-color: #dddddd;
    text-align: center;
    width: 86px;
    height: 7px;
    padding: 10px 0;
    float: left;
}

.category_left {
    background-image: url("../images/btns/BtnInActiveLeft.png");

    background-repeat: no-repeat;
    height: 27px;
    width: 13px;
    /*overflow: hidden;*/
    float: left;
}


.category_right {
    background-image: url("../images/btns/BtnInActiveRight.png");
    background-repeat: no-repeat;
    height: 27px;
    width: 13px;
    float: left;
}

.category_right__container {
    width: 101px;
    height: 27px;
    float: left;
}

.active_category_left {
    background-image: url("../images/btns/BtnActiveLeft.png");
}

.active_category {
    background-color: #2FC1DA;
}

.active_category_right {
    background-image: url("../images/btns/BtnActiveRight.png");
}

.active_link {
    color: white;
}

.body__middle_container__header_container__left_button {
    float: left;

    margin-right: 5px;
    margin-left: 10px;
}

.body__middle_container__header_container__right_button {
    float: right;

    margin-left: 5px;
    margin-right: 10px;
}

.body__middle_container__header_container__left_button__active {
    /*background-color: #2FC1DA;*/
}

.body__right_container {
    background-color: #F5F5F5;
    margin-left: 26px;

    float: right;

    width: 178px;
    min-height: 607px;
}

.body__right_right__container {
    float: left;
}


.body__middle_column__body_container {
    /*height: 520px;*/
    /*overflow-y: auto;*/
}


.body__post_image {
    float: left;

    width: 70px;
    height: 70px;
    background-color: #727272;

    margin-top: 15px;
    border-radius: 10px;
}

.body__post_container {
    height: 85px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D8D8;
}

.body__post_content {
    font-family: Muli, serif;

    float: left;
    font-size: 12px;
    margin-top: 17px;
    margin-left: 9px;
}

.post__announcement {
    color: #319EB2;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 11px;

    margin-bottom: 3px;
}

.post__announcement__danger {
    color: #D53F1A;
}

.post__title {
    font-weight: bold;
    font-size: 15px;

    margin-bottom: 2px;
}

.post__author_name {
    color: #4FAFBF;
    font-weight: bold;
}

.post__subscribed_tag {
    color: #80A43A;
    font-weight: bold;
}

.post__subscribed_tag:hover {
    color: #91bf37;
}

.post__from {
    color: #4FAFBF;
    font-weight: bold;
}

.post__by {
    margin-bottom: 2px;
}

.post__author_name:hover, .post__from:hover, .post__announcement a:hover {
    color: #2e6f7a;
    font-weight: bold;
}

.post__announcement__danger a:hover {
    color: #ba2400;
}

/* END BODY LAYOUT STYLES */

/* START FOOTER LAYOUT STYLES */

.footer {
    background-color: #727272;
    height: 45px;
    font-size: 10px;
}

.footer__container {
    padding-top: 14px;
    padding-bottom: 18px;
}

.footer__links a {
    color: #C2C2C2;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
}

.footer__links a:hover, .footer__copyright a:hover {
    color: #dddddd;
}

.footer__links {
    float: left;
    color: #C2C2C2;
}

.footer__copyright a {
    float: right;
    color: #C2C2C2;
}

/* END FOOTER LAYOUT STYLES */
/*.block__link:hover {*/
/*    color: #167183;*/
/*}*/
